.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #0a7dff;
  color: white;
}

.App-content {
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 12rem;
}

.App-title {
  font-size: 4rem;
}

.App-logo + .App-title {
  margin-top: 20px;
}
